<!DOCTYPE html>
<html lang="en"
      th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@1.4.1/dist/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body class="dark:bg-grey-900 dark:text-white">
<!-- common header -->
<div data-th-replace="~{navbar :: navbar}"></div>

<!-- main content -->
<section data-th-replace="${content}"></section>

<!-- common footer -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
<th:block data-th-replace="${script}"></th:block>
</body>
</html>